/*
    @lvkaszus : lvkasz.us
    Main Page CSS Stylesheet (lvweb-main.css)

    GitHub: https://github.com/lvkaszus/lvkaszuswebsite-core

    "I tried to make my code as less spaghetti as possible :(" - lvkaszus 2023
*/

@import url("../lvweb-core.css");

#subtext-1 {
    font-weight: 500;
    font-size: 14px;
    margin: 25px 0 25px 0;
}

.social_media-link {
    margin: 25px 0 10px 0;
}

.social_media-link-instagram {
    font-size: 14px;
    text-decoration: none;
    color: var(--link-color);
    padding: 5px 82px;
    border: 1px solid #ff2dc0;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.social_media-link-instagram:hover {
    color: #ff2dc0;
    border: 2px solid #ff2dc0;
    box-shadow: 0 3px 15px #ff2dc0;  
}

.social_media-link-snapchat {
    font-size: 14px;
    text-decoration: none;
    color: var(--link-color);
    padding: 5px 86px;
    border: 1px solid #f2ff00;;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.social_media-link-snapchat:hover {
    color: #f2ff00;
    border: 2px solid #f2ff00;
    box-shadow: 0 3px 15px #f2ff00;  
}

.social_media-link-bereal {
    font-size: 14px;
    text-decoration: none;
    color: var(--link-color);
    padding: 5px 99px;
    border: 1px solid #8f8f8f;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.social_media-link-bereal:hover {
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 3px 15px var(--main-color);
}

.social_media-link-reddit {
    font-size: 14px;
    text-decoration: none;
    color: var(--link-color);
    padding: 5px 93px;
    border: 1px solid #ff8800;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.social_media-link-reddit:hover {
    color: #ff8800;
    border: 2px solid #ff8800;
    box-shadow: 0 3px 15px #ff8800; 
}

.social_media-link-telegram-online {
    font-size: 14px;
    text-decoration: none;
    color: var(--link-color);
    padding: 5px 39px;
    border: 1px solid #00d0ff;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.social_media-link-telegram-offline {
    font-size: 14px;
    text-decoration: none;
    color: var(--link-color);
    padding: 5px 34px;
    border: 1px solid #00d0ff;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.social_media-link-telegram-online:hover, .social_media-link-telegram-offline:hover {
    color: #00d0ff;
    border: 2px solid #00d0ff;
    box-shadow: 0 3px 15px #00d0ff;
}

#tg_status-online {
    color: #04ff00;
}

#tg_status-offline {
    color: #ff3755;
}

.social_media-link-ngl {
    font-size: 14px;
    text-decoration: none;
    color: var(--link-color);
    padding: 5px 21px;
    border-width: 1px;
    border-image: linear-gradient(#ff4800, #ff8c00) 10;
    border-style: solid;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.social_media-link-ngl:hover {
    color: #ffdbb0;
    border-width: 2px;
    box-shadow: 0 3px 15px #ffdbb0;
}

@media screen and (max-width: 550px), screen and (max-height: 650px){
    footer {
        display: none;
    }
}